.titleCustom{

    color: black;
    font-weight:900;
    text-align: center;
    

}
body{
    background-image: url('/public/media/Sfondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paddingCustom{

    padding: 20%;
    padding-top: 5%;
    

}

.blur{

    backdrop-filter: blur(50px);
    border-radius: 10px;

}

.logo{

    width: 30px;

}

#mygif{
    position: absolute;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    width: 100vw;

    
  }

.fade-out{
    opacity: 0;
}



.wcust{
    width: 300%;
}

.btnCustom{

    right: 0%;
    bottom: 0%;
   
}

.gifCustom{

    width: 100vw;

}

#colCustom{

    border-radius: 15px;
    border: 2px solid #FFC107;

}



h5{
    z-index: 1;   
}

.swiper-button-prev{
    color: #FFC107;
}
.swiper-button-next{
    color: #FFC107;
}